/* General Styles */
body {
    font-family: lato-regular;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    color: black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* fonts */
.italiana-regular {
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

/*<uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 900 */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 10px 30px;
}

header .logo {
    font-size: 2em;
    font-weight: bold;
}

header .name {
    font-size: 1.5em;
}

header .account-icon {
    display: flex;
}

header .top-header .login a {
    color: black;
    font-size: 1.5em;
}

header .top-header {  
    color: black;
    display: flex;
    justify-content: space-between;

}

header .top-header .logo a {
    color: black;
    text-decoration: none;
}

header .top-header .logo:hover {
    color: #555;
}

header .top-header .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header .top-header .search-bar input {
    padding: 6px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    border-radius: 0;
    width: 50%;
    transition: border-bottom-color 0.3s;
}

header .top-header .search-bar input:focus {
    border-bottom-color: #555;
}

header .top-header .search-bar .search{
    margin-top: 10px;
}

header .top-header .account {
    margin: 5px 10px;
}

header .top-header .cart {
    margin: 5px 0 5px 20px ;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

header .top-header .menu-toggle {
    display: none;
}

/* Login Dropdown */
.dropdown-menu {
    display: none;
    position: absolute; 
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    text-align: left;
    width: 100px;
}

.dropdown-menu  p {
    margin-bottom: 5px;
    font-size: 1em;
}

.login .dropdown-menu p a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

header .top-header p a:hover {
    background-color: #f0f0f0; 
}

/* Show dropdown on hover */
.login:hover .dropdown-menu {
    display: block;
}

/* Positioning Fix for Dropdown */
.login {
    position: relative; /* Needed for absolute positioning of the dropdown */
}

/* Banner Section */
.banner {
    text-align: left;
    padding: 40px 30px;
    background: #eee;
    height: 500px;
    display: flex;
    justify-content: space-between; /* This will space out the items */
}

.banner > div {
    flex: 1;
}

.banner img {
    width: 100%; 
    height: auto; 
    margin-top: 50px;
}

.banner h1 {
    font-size: 4.5em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    color: #555;
}

/* Categories Section */
.popular-categories {
    padding: 30px;
    background: #f9f9f9;
    text-align: center;
    height: 700px;
}

.popular-categories h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    height: 450px;
}

.category {
    background: #ddd;
    font-size: 1.5em;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.category img {
    margin-bottom: 30px;
}

button {
    margin-top: 30px;
    padding: 10px 30px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Listings Section */
.new-listings {
    padding: 30px;
    background: #f9f9f9;
    text-align: center;
    margin-top: 20px;
    height: 700px;
}

.new-listings h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

.listings {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    height: 450px;
}

.listing {
    background: #ddd;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.listing img {
    margin-bottom: 30px;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

footer .logo {
    font-size: 2em;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 10px;
}

footer .heading {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-links div {
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

/* login/signup form */
.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 378px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group label {
    font-size: 1em;
    color: #333;
}

#loading-animation {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* Light background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above everything */
}


/* contact form */
.contact-section {
    text-align: center;
    padding: 40px;
    height: 250px;
    background-color: #eaeaea;
}

.contact-section h1 {
    font-size: 3em;
    margin: 0;
}

.contact-section p {
    font-size: 1.2em;
    margin: 0;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.customer-service, .feedback-form {
    width: 48%;
}

.customer-service h2 {
    font-size: 3em;
    margin: 0;
}

.customer-service, .feedback-form, .faq {
    padding: 20px;
    max-width: 100%;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form .input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.feedback-form .submit {
    width: 150px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}

.feedback-form p {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input {
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

.input-container #message {
    margin-top: 30px;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.category-buttons button {
    margin-top: 10px;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
    cursor: pointer;
}

.category-buttons button:hover {
    background-color: #f0f0f0; 
}

.category-buttons button:active, 
.category-buttons button.selected { 
    background-color: black;
    color: white;
}

/* FAQ */
.faq {
    height: 1000px;
}

.faq h2 {
    font-size: 3em;
}

.faq-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    font-size: 1.2em;
    gap: 1%;

}

.faq-item {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 5px;
    border-radius: 5px;
    width: 90%;
    opacity: 0;
    filter: blur(5px); 
    transform: translateX(-100%);
    transition: all 3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.faq-item h3 {
    font-family: "merriweather-regular";
}

/* shop-all */
#shop-all-page {
    display: flex; /* Arrange children side by side */
    gap: 20px; /* Space between the two sections */
    margin: 20px;
    padding: 10px;
}

/* Browse Section */
#browse-section {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    position: relative;
}

#browse-section h2 {
    border-bottom: 2px solid #D9D9D9;
}

#categories {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
    cursor: pointer;
}

#categories-item {
    position: relative;
    margin: 5px 0;
    cursor: pointer;
}

.subcategory-overlay {
    display: none; 
    position: absolute; /* Position relative to the category item */
    left: 180px; /* Align to the right of the category */
    top: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.subcategory-overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.subcategory-overlay ul li {
    padding: 8px;
    cursor: pointer;
}

.subcategory-overlay ul li:hover {
    background-color: #f0f0f0;
}

/* Show overlay on hover */
.category-item:hover .subcategory-overlay {
    display: block;
    z-index: 2;
}

/* Product Grid */
#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
    gap: 30px;
    padding: 30px;
}

#product-list {
    width: 100%;
    margin: 0;
    padding: 20px;
}

#product-list h2 {
    font-size: 3em;
    text-align: left;
    margin: 5px 0 0 20px;
}

.product-item h3 {
    margin: 10px 0 0 0;
}

.product-item p {
    margin: 0;
}

.product-item {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    height: 380px;
    padding: 10px;
    cursor: pointer; /* Changes the cursor to a pointer to indicate interactivity */
    transition: transform 0.2s ease; /* Adds a hover effect for a smoother interaction */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    min-height: 390px; /* Ensure it has a minimum height, but can grow */
}

.product-item img {
    background-color: #CEBAAB;
    border-radius: 5px;
}

.product-link {
    text-decoration: none; 
    color: inherit; /* Keeps the text color the same as the parent element */
    display: inline-block; /* Ensures the link behaves like a block for the div */
}

.product-item:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.product-details-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; 
}

.like-button {
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}

.like-button i {
    font-size: 1.2em;
    color: black;
    transition: color 0.3s ease; /* Smooth color transition */
}

.like-button:hover {
    background-color: red;
}

.like-button i.liked {
    color: red;  
}

/* Price filter */
.price-container {
    text-align: left;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
    background: black;
    height: 5px;
    border-radius: 10px;
    outline: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-moz-range-track {
    background: black;
    height: 5px;
    border-radius: 20px;
}

input[type="range"]::-moz-range-thumb {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

input[type="range"]::-ms-track {
    background: black;
    height: 5px;
    border-radius: 10px;
    border-color: transparent;
    border-width: 0;
}

input[type="range"]::-ms-thumb {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.range-numbers {
    display: flex;
    justify-content: space-between;
    color: black;
}

.range-min, .range-max {
    font-size: 14px;
}

/* Product Info */
#product-details {
    margin: 20px;
    display: flex;
    gap: 100px;
}

#product-info {
    margin: 30px;
}

#product-info h2 {
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

#product-info h3 {
    margin: 0;
}

#product-info p {
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
}

#product-info #product-description {
    font-size: 1em;
}

#product-info #product-details-list {
    margin: 0;
    padding-left: 17px;
}

/* Seller info */
#seller-info {
    margin: 30px;
    height: 700px;
}

#seller-info h2 {
    font-size: 2.3em;
    margin-bottom: 0;
}

.line {
    width: 90%; /* Adjust to match the length of the word */
    height: 2px;
    background-color: grey;
    margin-top: 5px; /* Adds space between the word and the line */
    margin-bottom: 30px;
}

.line2 {
    width: 1040px;
    height: 2px;
    background-color: grey;
    margin-top: 5px; /* Adds space between the word and the line */
    margin-bottom: 30px;
}


.line3 {
    width: 100%;
    height: 2px;
    background-color: grey;
    margin: 20px 0 30px 0;
}

.line4 {
    width: 100%;
    height: 2px;
    background-color: grey;
    opacity: 0.5;
}

.line5 {
    width: 100%;
    height: 2px;
    background-color: grey;
    opacity: 0.5;
}

.line6 {
    width: 100%;
    height: 2px;
    background-color: black;
}

#seller-card {
    margin-top: 50px;
    padding: 20px;
    background-color: #D9D9D9;
    height: 500px;
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#seller-main {
    display: flex;
    align-items: center; /* Aligns image and details vertically */
    gap: 20px; /* Adds space between the image and text */
}

#seller-details {
    display: flex;
    flex-direction: column;
}

#seller-details p {
    margin: 0;
}

#seller-details img {
    flex-shrink: 0; /* Ensures the image doesn't shrink */
}

#seller-buttons button {
    height: 50px;
    font-size: 1em;
    margin: 0 20px 0 0;
}

#seller-card-description h3 {
    margin: 0;
}

#seller-card-description p {
    margin: 0;
}


/* nav side-bar */
#nav-sidebar {
    width: auto;
    height: auto;
    padding: 20px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.menu-link {
    color: inherit;
}

.arrow {
    height: 20px;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 40px;
    display: none;
}

.submenu li {
    padding: 0.25rem 0;
    color: #555;
}

.submenu.show {
    display: block;
}

.product-container {
    background-color: #CFC7C8;
    border-radius: 10px;
}

/* create-listing */
#create-product-listing {
    display: flex;
    margin: 30px;
    gap: 20px;
}

#create-listing {
    height: auto;
    max-width: 100%;
    padding: 20px;
}

#create-listing h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

#create-product-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
}

#create-product-content .section {
    background-color: #DBE2E9;
    padding: 30px;
    border-radius: 8px;
    box-shadow:  0px 5px 5px rgba(115, 134, 152, 0.5);
}

.section h2 {
    font-size: 1.5em;
    margin: 0 0 15px 0;
    font-weight: bold;
}

/* Form Inputs */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box
}

textarea {
  height: 80px;
  resize: none;
}

/* Key Features */
.key-features {
    display: flex;
    gap: 10px;
}

.key-features input[type="text"] {
    flex: 1;
}
  
/* Image Upload */
.image-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    height: 100px;
    background-color: #fff;
    margin-bottom: 10px;
}
  
.image-uploader button {
    background: rgb(40, 132, 237);
    border: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
}

.image-uploader button:hover {
    background-color: rgb(12, 77, 168);
}

/* Price Section */
.price-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.price-row div {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    margin-bottom: 10px;
}

.toggle-buttons {
    display: flex;
    gap: 10px; /* Adds spacing between buttons */
    align-items: center;
}

.toggle-button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

.action-buttons {
    display: flex;
    gap: 20px; 
    justify-content: flex-end; 
    align-items: center; 
}

.action-buttons button {
    margin: 0;
    background-color: #B0C8DB;
}

.action-buttons button:hover {
    background-color: #90a5b8;
}

/* Account Page */
#account-details {
    padding: 20px;
    width: 100%;
}
#account-details h1{
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 20px 0;
}

#account-content {
    display: flex;
    gap: 20px;
}

/* Profile Section */
.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 10px;
    width: 200px;
}
  
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
}
  
.user-info h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 2em;
}

.user-info p {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* Details Section */
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.details h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}
  
.account-box,
.address-box,
.subscription-box {
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    height: auto;
    width: auto;

}

.account-box {
    grid-column: 1; /* First column */
    grid-row: 1; /* Top row */
}

.address-box {
    grid-column: 1; /* First column */
    grid-row: 2; /* Second row */
}

.subscription-box {
    grid-column: 2; /* Second column */
    grid-row: 1 / span 2; /* Span both rows in the second column */
}

.detail-row {
    display: flex;
    justify-content: space-between;
}

.detail-row p {
    margin: 0;
}

.label {
    font-weight: bold; 
}

.data {
    text-align: right; 
}

/* Active Listings Section */
.active-listings {
    margin-top: 20px;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
}

.active-listings h2 {
    font-size: 1.5em;
}
  
.listings-grid {
    display: flex;
    gap: 20px;
}
  
.active-listings .listings {
    flex: 1;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 10px;
}

/* Featured Listings */
.featured-listings {
    padding: 30px;
}

.listings-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.listing-box {
    width: 200px;
    height: 300px;
    background-color: #ccc;
    border-radius: 8px;
}

#promote-content {
    display: flex;
    flex-direction: column;
}

#promote-content h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

/* Pricing Section */
.pricing {
    padding: 30px;
}

.billing-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #4CAF50;
}

/* When the checkbox is checked, change the slider background and move the slider circle */
input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Styling for the icon */
.switch i {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    color: #4CAF50;
    transition: 0.3s;
}

/* When the toggle is on (checked), adjust the icon position */
input:checked + .slider i {
    transform: translateX(-28px);
}

/* Pricing Cards */
.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto; 
    width: 120px;
    align-self: center;
}

.card button:hover {
    background-color: #45a049;
}

.top-card {
    display: flex;
    justify-content: space-between;
}

.text-column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text-column h3 {
    margin: 0;
}

.text-column p {
    margin: 0;
}

.price-column .price {
    font-size: 1.7em;
    margin-right: 10px;
}

.price-column {
    display: flex;
    align-items: center;
}

/* Transaction History */
#transaction-history {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

#transaction-history h1 {
    font-size: 2em;
    font-weight: bold;
}

.past-order {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.order-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-details {
    width: 50%;
}

.order-details p {
    margin: 0;
}

.order-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.order-row div {
    width: 48%; /* Adjust as needed for spacing */
}

.status.delivered {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.total-amount {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.download-invoice {
    color: #6a0dad;
    text-decoration: underline;
    display: inline-block;
}

.past-purchase-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.purchased-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.purchased-item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 15px;
}

.purchased-item div {
    flex: 1;
}

.purchased-item .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.purchased-item h3 {
    margin: 0;
}

.purchased-item a {
    color: #6a0dad;
    text-decoration: underline;
    margin-top: 10px;
}

.purchased-item p {
    margin: 0;
}

/* Shopping Cart */
.cart-title {
    background-color: #eaeaea;
    height: 100px;
    padding: 20px;
}

.cart-title h2 {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.cart-process {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.cart-process div {
    margin: 0;
    display: flex;
    gap: 20px;
}

.cart-process div div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.3em;
}

.cart-process h3 {
    margin: 0;
    font-size: 1.5em;
}

.cart-process div.active div {
    background-color: black; 
    color: white; 
}

.cart-header {
    padding: 30px 30px 0 30px;
}

.cart-header section{
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: bold;
}

.header-product {
    flex: 2; /* Allocate more space for the product section */
    text-align: left; /* Align text to the left */
}

.header-price, 
.header-quantity, 
.header-total {
    flex: 1; /* Equal spacing for these items */
}

.cart-content {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item .product-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-item .product-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item, .product-info p {
    margin: 0;
}

.cart-item, .product-info h4 {
    margin: 5px 0;
}

.quantity input {
    width: 50px;
    text-align: center;
}

.delete-btn {
    background-color: transparent;
    border: 2px solid black;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: auto;
    margin: 0;
}

.delete-btn i {
    font-size: 1em;
    height: 24px;
}

.cart-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    margin-top: 20px;
}

.shipping-section, .summary {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary p {
    margin: 0;
}

.actions {
    display: flex;
    gap: 20px;
}

.shipping-section input, .shipping-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.actions button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions a {
    color: white;
}

.actions button:last-child {
    background-color: #ff9900;
}

.summary {
    text-align: right;
}

.summary p {
    font-size: 1.2em;
}

.summary span {
    font-weight: bold;
}

/* Checkout */
.checkout-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.checkout-content form {
    width: 50%;
    margin: 0 auto;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.checkout-form .form-group {
    width: 100%;
}

.checkout-form label {
    font-size: 1em;
    margin-bottom: 5px;
}

.checkout-form input, .checkout-form button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-form button {
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: center; 
}

.checkout-form button:hover {
    background-color: #555;
}

/* order-complete*/
.order-success-content {
    padding: 20px;
    text-align: center;
    height: 300px;
}

.order-success-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: green;
}

.order-success-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.order-success-content a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

.order-success-content a:hover {
    background-color: #555;
}

/* game */
#spin-to-win {
    margin: 30px;
}

/*support*/
.survey-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.survey-section {
    margin-bottom: 20px;
}

.survey-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.survey-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.survey-options label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.survey-options input[type="radio"],
.survey-options input[type="checkbox"] {
    margin-right: 10px;
}

.open-ended-question textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rating-stars {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.rating-stars label {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
}

.rating-stars input[type="radio"] {
    display: none;
}

.rating-stars input[type="radio"]:checked ~ label,
.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #FFD700;
}

.submit-survey {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-survey:hover {
    background-color: #555;
}


.survey-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Italiana', serif;
}

/* chat **/
.chat-container {
    display: flex;
    height: calc(100vh - 200px);
    border: 1px solid #ddd;
    margin: 20px;
}

.messages-sidebar {
    width: 300px;
    border-right: 1px solid #ddd;
}

.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
}

.message-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.message-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-list .message-preview {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.message-preview img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-preview-content {
    flex-grow: 1;
}

.message-preview-content h3 {
    margin: 0;
}

.message-preview-content p {
    margin: 5px 0 0;
    color: #777;
}

.seller-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.message-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #555;
}

/* slide in nav */
.side-nav {
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #a79285;
    overflow: hidden;
    transition: 0.5s;
    z-index: 50;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.side-nav ul li {
    padding: 15px 25px;

}

.side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition: 0.3s;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
    z-index: 100;
}

@media screen and (max-width: 402px) {
    body {
        height: 100%; /* Ensures body takes full height */
        overflow-y: scroll; /* Always show vertical scrollbar if needed */
        overflow-x: hidden;
    }

    header {
        background: #fff;
        padding: 10px;
    }
    header .logo {
        font-size: 1.3em;
    }
    
    header .top-header .search-bar input{
        margin: 0 0 10px 0;
        font-size: 0.7em;
    }

    header .top-header .search-bar .search {
        width: 15px;
        height: 15px;
    }

    header .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .main-link, .account , .name{
        display: none;
    }
    

    header .top-header .menu-toggle {
        display: block;
        width: 20px;
        height: auto;
        margin-left: 10px;
    }

    header .top-header .cart {
        width: 20px;
        height: 20px;
        margin: 0;
    }
    
    header nav ul {
        font-size: 0.8em;
        gap: 0;
    }

    header .top-header .login a {
        font-size: 1em;
    }

    .banner{
        padding: 20px;
        font-size: 0.6em;
        text-align: center;
        display: flex;
        justify-content: center;
        height: auto;
    }

    .banner h1 {
        margin: 0;
        font-size: 3em;
    }

    .banner > div {
        flex: unset;
    }

    .banner img {
        display: none;
    }

    .popular-categories {
        padding: 20px;
        height: auto;
    }

    .popular-categories h2 {
        font-size: 2em;
    }

    .categories {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .category {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .category img {
        width: 200px;
        height: auto;
    }

    .new-listings {
        padding: 20px;
        height: auto;
    }

    .new-listings h2 {
        font-size: 2em;
    }

    .listings {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .listing {
        width: auto;
        justify-content: center;
        align-items: center;
    } 

    .listing img {
        width: 200px;
        height: auto;
    }

    /* Ensure the footer sticks to the bottom */
    footer {
        margin-top: auto; /* Push the footer to the bottom of the page */
        padding: 20px;
        background: #333;
        color: #fff;
        text-align: center;
    }

    footer p {
        font-size: 0.5em;
    }

    .footer-links {
        font-size: 0.6em;
    }

    .side-nav.active  {
        width: 200px;
    }

    /* login */
    .auth-container {
        padding: 20px;
        width: auto;
        margin: 10px;
    }

    .auth-container h1 {
        margin-top: 0;
        font-size: 1.5em;
    }

    .auth-container p {
        font-size: 0.8em;
    }

    .form-group input {
        font-size: 0.8em;
        padding: 7px;
        width: 300px;
    }

    .form-group {
        margin: 0;
    }

    button {
        font-size: 0.8em;
        padding: 10px 15px;
    }

    /* browse section */
    #browse-section {
        font-size: 0.8em;
    }

    /* shop-all */
    #shop-all-page {
        margin: 10px;
        flex-direction: column;
    }

    #product-list {
        padding: 0;
    }

    #product-grid {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center products */
        gap: 20px; /* Space between items */
    }

    .product-item {
        width: 250px; 
        height: auto;
    }

    .product-item img {
        width: 100%; 
        height: 200px; 
    }

    .product-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-details {
        text-align: center;
    }
    
    /* product page */
    #product-details {
        margin: 10px;
        flex-direction: column;
    }

    #product-image {
        width: auto;
    }

    #product-image img {
        width: 300px;
        display: flex;
        align-items: center;
    }

    #product-info {
        margin: 0;
        padding: 10px;
        font-size: 0.8em;
    }

    #product-info h2 {
        font-size: 1.7em;
    }

    #seller-info {
        margin: 10px;
        height: auto;
    }

    #seller-info h2 {
        font-size: 1.7em;
    }

    .line {
        height: 1px;
        margin: 0;
    }

    #seller-card {
        width: auto;
        padding: 10px;
    }

    #seller-main {
        font-size: 0.8em;
    }
    
    #seller-main img {
        width: 80px;
        height: 80px;
    }

    #seller-buttons {
        font-size: 0.8em;
    }

    #seller-card-description {
        font-size: 0.8em;
    }

    /* contact */
    .content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .customer-service, .feedback-form, .faq {
        padding: 10px;
        font-size: 0.8em;
    }

    /* feedback form */
    .input-container label{
        font-size: 1em;
    }

    .category-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .category-buttons button {
        padding: 10px;
    }

    .input-container #message {
        margin-top: 5px;
    }

    .faq {
        height: auto;
    }

    .faq h2{
        font-size: 1.7em;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
    }

    /* promote */
    #create-product-listing {
        margin: 10px;
        flex-direction: column;
    }

    #nav-sidebar {
        display: flex;
        justify-content: center;
    }

    .featured-listings {
        padding: 10px;
    }

    #promote-content h2 {
        font-size: 1.2em;
    }

    .listings-container {
        flex-direction: column;
        align-items: center;
    }

    .line2 {
        width: 100%;
    }

    #create-product-content {
        font-size: 0.9em;
    }

    #account-details {
        font-size: 0.9em;
        padding: 0;
    }

    #account-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #account-content .profile {
        font-size: 0.8em;
    }

    #account-content .profile .avatar {
        width: 150px;
        height: 150px;
    }

    #account-content .details {
        display: flex;
        flex-direction: column;
    }
    
    #account-content .details .account-box {
        font-size: 0.8em;
    }

    #account-content .details .address-box {
        font-size: 0.8em;
    }

    #account-content .details .subscription-box {
        font-size: 0.8em;
    }

    .active-listings {
        font-size: 0.9em;
    }

    .active-listings .listings-grid {
        flex-direction: column;
    }

    .active-listings .listings-grid .listings {
        flex: unset;
    }

    /* purchase history */
    #transaction-history {
        padding: 10px;
    }

    #transaction-history h1 {
        font-size: 1.5em;
    }

    #transaction-history .past-order {
        flex-direction: column;
    }

    #transaction-history .past-order .order-details {
        width: auto;
    }

    .past-purchase-list {
        width: 100%;
    }

    /* shopping cart */
    .cart-title {
        font-size: 0.8em;
        height: auto;
    }

    .cart-process {
        padding: 10px;
        gap: 10px;
    }

    .cart-process h3 {
        font-size: 0.8em;
    }

    .cart-process div{
        gap: 10px;
    }

    .cart-process div div {
        width: 20px;
        height: 20px;
        font-size: 0.6em;
    }

    .order-success-content {
        font-size: 0.7em;
    }

    /* checkout-content */
    .checkout-content {
        padding: 10px;
    }

    .checkout-content form {
        width: auto;
        font-size: 0.9em;
    }

    .cart-header {
        padding: 10px 10px 0 10px;
    }

    .cart-header section {
        font-size: 0.8em;
    }

    .cart-content {
        padding: 0 10px 10px 10px;
    }

    .cart-item .product-info img{
        width: 60px;
        height: 60px;
    }

    .cart-item .product-info  {
        font-size: 0.6em;
    }

    .cart-item p {
        font-size: 0.6em;
    }

    .cart-item .delete-btn {
        font-size: 1em;
        width: 20px;
        height: 25px;
    }

    .cart-item .delete-btn i {
        font-size: 0.9em;
        height: auto;
    }

    .cart-footer {
        padding: 10px;
        flex-wrap: nowrap;
        gap: 40px;
    }

    .cart-footer .summary-section {
        font-size: 0.6em;
    }

    .summary-section .actions {
        gap: 10px;
    }

    .summary-section .actions button {
        padding: 7px;
    }

    .cart-footer .shipping-section select, .shipping-section input {
        font-size: 0.6em;
        margin-bottom: 5px;
        width: auto;
    }


}   
